.left_nav{
	margin-top: 20px;
}

.left_nav li{
	float: left;
}

.left_nav li{
	padding-right: 30px;
	padding-left: 20px;
	border-left: 1px solid #00aeaa;
}

.left_nav li:first-child{
	padding-right: 30px;
	padding-left: 0;
	border-left: none;
}

.left_nav li a{
	color: #00aeaa;
}

.left_nav li a:hover{
	color: #fff;
}
