
.right_nav li a{
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.key{
  padding: 0 20px 5px 27px;
  background: url('../img/key.png') no-repeat;
}

.lock{
  padding: 0 20px 5px 27px;
  background: url('../img/lock.png') no-repeat;
}

.cart{
  padding: 0 50px 5px 27px;
  background: url('../img/cart.png') no-repeat right;
}

.price{
  padding-left: 10px;
  padding-top: 2px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}