@import "http://webfonts.ru/import/roboto.css";
html, body, div, span, applet, object, iframe, h1, h2, 
h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, q,
small, strike, strong, sup, sub, tt, var, b, i, dl, dt,
dd, ol, ul, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figure, figcaption, header, footer, 
hgroup, menu, nav, output, section, summary, time, mark,
audio, video {
  margin:0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font:inherit;
  vertical-align:baseline;
}

html {height: 100%;}

body {
  height: 100%;
  font: 14px/18px 'Arial';
  background: #fbfbfb;
  background-size: cover;
  background-position: center;
}

ol, ul {list-style:none;}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
      box-sizing: border-box;
}

a, a:hover {text-decoration: none;}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {clear: both;}

.left {float: left;}
.right {float: right;}

.container {
  position: relative;
  max-width: 1200px;
  margin:0 auto;
}
/*стили для хедера*/

/*стили для верхнего меня и регистрации*/

#header {
  position: absolute;
  width: 100%;
  background: #1e2121;
  min-height: 55px;
  padding: 20px 0 15px 0;
  z-index: 5;
}

#header a{
  color: #00aeaa;
}

#header a:hover{
  color: #fff;
}

.left_nav li, .right_nav li{
  float: left;
}

.left_nav li{
  padding-right: 30px;
  padding-left: 20px;
  border-left: 1px solid #00aeaa;
}

.left_nav li:first-child{
  padding-right: 30px;
  padding-left: 0;
  border-left: none;
}

#header li.active a{
  color: #fff;
  cursor: pointer;
}

/*стили для для заголовка*/

#home {
  height: 404px;
  background: #667a7d url('../img/header_bg.jpg') no-repeat center bottom;
}

.logo{
  float: left;
  margin-top: 59px;
  margin-left: -14px;
}

.lozung{
  float: right;
  text-transform: uppercase;
  color: #fff;
  font: 26px "Roboto";
  font-weight: bold;
  margin-top: 140px;
}

.str1{
  background-color: #16d4d1;
  width: 230px;
  text-align: center;
}

.str2{
  background-color: #1e2121;
  width: 400px;
  margin:5px 0;
  text-align: center;
}

.str3{
  background-color: #1e2121;
  width: 235px;
  text-align: center;
}

.social{
  position: absolute;
  top:250px;
  left:100px;
}

.fa{
  text-align: center;
  color: #fff;
  background-color: #16d4d1;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding-top: 5px;
}

.social .fa:hover{
  color:#000;
}

.catalog_name, .phone{
  font: 26px "Roboto";
  font-weight: bold;
  color: #fff;
  min-height: 36px;
  position: absolute;
  bottom: -75px;
}

.catalog_name{
  background-color: #16d4d1;  
  width: 270px;
  padding: 10px 0 10px 20px;
}

.phone{
  background: #000 url('../img/phone.png') no-repeat 15px 50%;
  width: 325px;
  text-align: center;
  padding: 10px 0;
    right: 0;
}

.phone span{
  color: #16d4d1;
}
/*конец стилей для хедера*/

/*стили для левого сайдбара*/

#sidebar{
  width: 22.5%;
  float: left;
}

.catalog{
  background: #fff;
  -webkit-box-shadow: 0 0 10px #d8d8d8;
  -moz-box-shadow: 0 0 10px #d8d8d8;
  -ms-box-shadow: 0 0 10px #d8d8d8;
  -o-box-shadow: 0 0 10px #d8d8d8;
  box-shadow: 0 0 10px #d8d8d8;
  height: 680px;
}

.catalog a {
  display:block;
  font-family:"Roboto";
  font-weight:bold;
  color:#7e7e7e;
  border-bottom:2px solid #f7f7f7;
  padding:8px 0 8px 15px;
  margin: 0 2%;
  background:url("../img/arrow.png") no-repeat 98% 50%;
}

.catalog li{
  position: relative;
}

.catalog li:hover{
  background: #00adaa;
}

.catalog a:hover {
  color:#fff;
  border-bottom:2px solid #00adaa;
  background:url("../img/arrow_white.png") no-repeat 98% 50%;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

/*стили подменю*/

.catalog .sub_menu{
  position: absolute;
  display: none;
  top: -188px;
  left: 270px;
  z-index: 10;
  padding-top: 20px;
  background: #fff;
  -webkit-box-shadow: 0 10px 10px -5px #d8d8d8;
  -moz-box-shadow: 0 10px 10px -5px #d8d8d8;
  -ms-box-shadow: 0 10px 10px -5px #d8d8d8;
  -o-box-shadow: 0 10px 10px -5px #d8d8d8;
  box-shadow: 0 10px 10px -5px #d8d8d8;
  height: 485px;
  width: 310px;
}

.sub_menu a {
  display:block;
  font-family:"Roboto";
  font-weight:bold;
  color:#7e7e7e;
  border-bottom:2px solid #f7f7f7;
  padding:8px 0 8px 15px;
  margin: 0 8%;
  background:url("../img/arrow.png") no-repeat 98% 50%;
}

.sub_menu a:nth-child(3) {
  background:url("../img/arrow_white.png") no-repeat 98% 50%;
}

.sub_menu a:hover {
  color:#00adaa;
  text-decoration: underline;
  border-bottom:2px solid #f7f7f7;
  background:url("../img/arrow.png") no-repeat 98% 50%;
}

.sub_menu li:hover{
  background: inherit;
}

.catalog > li:hover .sub_menu, .catalog > li:hover .new{
  display: block;
}

/*конец стили подменю*/

/*стили рекламы возле подменю*/

.new{
  display: none;
  position: absolute;
  top: -188px;
  left: 580px;
  width: 330px;
  height: 485px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 10px #d8d8d8;
  -moz-box-shadow: 5px 5px 10px #d8d8d8;
  -ms-box-shadow: 5px 5px 10px #d8d8d8;
  -o-box-shadow: 5px 5px 10px #d8d8d8;
  box-shadow: 5px 5px 10px #d8d8d8;
}

.new img{
  margin-top: 40px;
  margin-left: 50px;
}

.new .nove,.new  .par1,.new .par2,.new .year{
  position: absolute;
  left: 20px;
  color: #000;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
}

.new .nove{
  top: 20px;
}

.new .year{
  color: #00adaa;
  top: 50px;
}

.new .par1{
  top: 260px;
}

.new .par2{
  top: 285px;
}

.new .test{
  position: absolute;
  top: 240px;
  left: 20px;
  color: #000;
  font-family: "Roboto";
  font-size: 12px;
}

.new .price{
  width: 150px;
  height: 48px;
  background: #c3043a url("../img/cart_black.png") no-repeat 100% 50%;
  color: #fff;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
  border: none;
  text-align: left;
  padding: 0 0 0 15px;
  vertical-align: top;
  margin-left: 150px;
  cursor: pointer;
}

/*конец стили рекламы возле подменю*/

.ob{
  position: absolute;
}
.advice{
  font-size: 15px;
  font-family:"Roboto";
  color:#7e7e7e;
  margin-top: 36px;
}

.advice h3{
  position: relative;
  font-size: 25px;
  font-weight:bold;
}

h3 span{
  color: #00adaa;
}

.advice_text{
  width: 100%;
  background: #00adaa;
  color: #fff;
  font-family: "Arial";
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px 5px 0 0;
}

.adv{
  height: 30px;
  border-radius: 0 0 5px 5px;
}

.adv li {
  color: #fff;
  display: block;
  float: left;
  width: 50%;
  height: 45px;
  padding-top: 10px;
}

.adv li:nth-child(1){
  background: #353c3d url("../img/more_adv.png") no-repeat 10% 50%;
  border-right: 1px solid #4c6366;  
  padding-left: 55px;
  border-radius: 0 0 0 5px;
}

.adv li:nth-child(2){
  background: #353c3d url("../img/arrow_right.png") no-repeat 87% 50%;
  padding-left: 15px;
  border-radius: 0 0 5px 0;
}

.adv li a{
  color: #fff;
  font-family: "Roboto";
  font-size: 13px;
}

.advice_text .fa{
  text-align: center;
  color: #000;
  background-color: inherit;
}

.banner{
  margin-top: 30px;
  background: #000 url("../img/partner_baner.jpg");
  width: 100%;
  height: 390px;
}

.vk{
  margin-top: 50px;
}

.facebook{
  margin-top: 30px;
}

/*конец стили для левого сайдбара*/

/*стили для контента*/

#content{
  width: 77.5%;
  padding: 50px 0 100px 55px;
  color: #000;
  float: right;
}

.slide{
  width: 100%;
}

.img_menu{
  margin-top: 20px;
}

.img_menu li {
  float: left;
  width: 208px;
  position: relative;
  margin-left: 13px;
  margin-bottom: 60px;
}

.img_menu li:first-child, .img_menu li:nth-child(5){
  margin-left: 0;
}

.img_menu img{
  max-width: 100%;
  height: 245px;
  display: block;
}

.discr{
  position: absolute;
  bottom: -45px;
  background: #000;
  width: 100%;
  height: 45px;
  color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  padding: 12px 0 0 15px;
}

.img_menu li:hover .discr{
  background: #c3043a;
}

/*стили блока производителей*/

.manufact{
  margin-top: 50px;
}

.manufact h3{
  font-size: 25px;
  font-weight:bold;
}

.manf{
  margin-top: 40px;
}

.manf li{
  float: left;
  margin-left: 90px;
  margin-bottom: 15px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.manf li:nth-child(4n+1){
  margin-left: 5px;
}

.manufact a{
  display: block;
  width: 140px;
  height: 35px;
  background: #00adaa;
  color: #fff;
  font-family: "Roboto";
  font-size: 13px;
  padding: 8px 0 0 18px;
  border-radius: 0 0 3px 3px; 
  float: left;
  margin-top: 30px;
}

.manufact hr{
  margin-top: 30px;
}

.article{
  padding-top: 95px;
}

.article h3{
  font-size: 25px;
  font-weight:bold;
}

.article_box{
  max-width: 265px;
  margin-top: 30px;
  margin-right: 40px;
  line-height: 25px;
  float: left;
}

.article_box:last-child{
  margin-right: 0;
}

.article_box img{
  margin-bottom: 25px;
}

.article_box a{
  display: block;
  color: #00adaa;
  margin-top: 30px;
  background: url("../img/arrow_down.png") no-repeat 35% 55%;
}

/*конец стили для контента*/

/*стили footer*/

#footer{
  height: 425px;
  background: url("../img/footer_bg.jpg");
  background-position: center;
  padding-top: 65px;
}

.ft_nav a{
  color: #16d4d1;
}

.ft_nav a:hover{
  color: #fff;
}

.ft_nav li{
  margin-bottom: 25px;
  margin-left: 70px;
}

.addres{
  margin-left: 70px;
}

h4{
  font-size: 19px;
  color: #fff;
  margin-bottom: 30px;
}

.addres ul{
  margin-left: 20px;
  padding-left: 35px;
  margin-bottom: 30px;
  background: url("../img/add.png") no-repeat left 50%;
}

.gorod{
  color: #fff;
}

.ulica{
  color: #16d4d1;
}

.kontakt{
  margin-left: 70px;
}

.kontakt h1{
  color: #fff;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

h1 span{
  color: #16d4d1;
}

#footer .ft_social a{
  margin-right: 18px;
}

#footer .ft_social .fa{
  color: #232b2c;
  background-color: #16d4d1;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding-top: 8px;
}

#footer .ft_social .fa:hover{
  background-color:#fff;
}

/*конец стили футер*/